/*-- scss:rules --*/
// Apply in all documents

// Override sky-theme blockquote color 808080, because
// it has too-low contrast ratio against the (sky) blue background.
blockquote p {
  color: #385838; //Just barely better than WCAG 2.1 AAA standard contrast 7:1 against sky
}

/* Accessibility: Hide text visually but keep it for screen readers */
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.matrix-anchor {
  color: teal;
  font-weight: bold;
}
/* The screen reader signal */
.matrix-anchor::before {
  content: "Anchor: ";
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}